@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .scrolldesign::-webkit-scrollbar{
        width: 5px;
    }
    .scrolldesign::-webkit-scrollbar-thumb{
       background-color: rgb(216, 214, 214);
    }
    .scrolldesign::-webkit-scrollbar-track{
        background-color: rgb(143, 142, 142);
    }
}